/*.login-page .right {
    width: 70%;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: aliceblue !important ;
}
body {
    text-shadow: 0 1px 0 #fff;
}*/