.custom-container
{
    max-width: 1100px !important;
}
.label-row
{
    height: auto;
    overflow: hidden;
    margin: 3px 0px;
}

.label-row label
{
    padding-top: 7px;
}

.right-btn-area
{
    float: right;
    padding: 5px 20px;
}

.k-widget.k-datepicker.k-header,
span.k-widget.k-colorpicker.k-header,.k-colorpicker .k-selected-color,
.k-widget.k-combobox.k-header,.k-widget.k-datetimepicker.k-header,.k-widget.k-timepicker.k-header,
.k-widget.k-numerictextbox,.k-widget.k-dropdown.k-header
{
    width: 100%;
}

.k-pager-sizes .k-widget.k-dropdown.k-header
{
    width: auto;
}