body
{
    margin: 1px 5px 4px 0px;
    color: #333 !important;
    background-color: White !important;
    font-size: 14.5px !important;
    font-family: Arial,sans-serif;
    line-height: 1.19;
    padding: 4px 8px;
}

body p
{
    margin: 0px 0px 4px 0px;
    color: #333 !important;
    line-height: 1.19 ;
    vertical-align: baseline;
    font-family: Arial,sans-serif;
    font-size: 14.5px !important;
    padding-left: 0px;
}

body ul,body ol
{
    color: #333 !important;
    line-height: 1.19;
    vertical-align: baseline;
    font-family: Arial,sans-serif;
    font-size: 14.5px !important;
    
}


body ul li,body ol li
{
    color: #333 !important;
    line-height: 1.19;
    vertical-align: baseline;
    font-family: Arial,sans-serif;
    font-size: 14.5px !important;
    padding: 1px 5px;
}




.hlError
{
    background-color:#fea;
    color:#f33;
}

.hlOK
{
    background-color:#aef;
    color:#060;
}

.inlineCode
{
    font:bold 12px monospace;
}

.hlremove
{
    color: rgb(85, 85, 85) !important;
    background: #fff;
}






