#wrapper #sidebar-second.bds-service-list-sidebar {
    left: 70px;
}

#wrapper.toggled #sidebar-second.bds-service-list-sidebar {
    left: 210px;
}


.bds-content.content {
    margin-left: 230px;
    width: calc(100% - 230px);
   
}

footer.bds-footer {
    display: none;
}


.jouney-profile-image {
    float: left;
 
    margin-top: 24px;
    display: block;
    float: left;
    padding: 5px;
    margin-right: 5px;
    border-radius: 1px;
    cursor: pointer;
}

    .jouney-profile-image img {
        max-height: 30px;
        max-width: 30px;
        border-radius: 50%;
        display: block;
    }
